@page
@model IndexModel
@{
    ViewData["Title"] = "Search";
}

<div class="container align-content-center">
    <h2 class="text-light">Search for a movie</h2>
    <form>
        <p>
            <input type="text" asp-for="SearchString" />
            <input type="submit" value="Search" />
        </p>
    </form>
    <form method="post">
        <input type="submit">
    </form>
</div>

