@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap');

html {
    position: relative;
    min-height: 100%;
}

.footer {
    position: fixed;
    bottom: 0;
}

body {
    background: linear-gradient(to right, #434343 0%, black 160%);
    font-family: "Poppins", sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin-bottom: 60px;
}

.moviecard {
    width: 650px;
    height: 350px;
    display: flex;
    overflow: hidden;
    border-radius: 10px;
    background: rgba(0,0,0,0.50);
    box-shadow: -5px 5px 10px rgba(0,0,0,0.7), 5px 5px 10px rgba(0,0,0,0.7);
}

.moviecard-poster {
    position: relative;
    width: 250px;
    overflow: hidden;
}

.moviecard-poster img {
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.moviecard-body {
    width: 400px;
    padding-top: 5px;
    padding-left: 12px;
    padding-right: 12px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    font-size: 12px;
    color: #bdb8b8;
}

.moviecard-title {
    color: #e8e8e8;
    font-size: 22px;
}

.moviecard-info {
    margin-top: -20px;
}

.moviecard-body p span {
    margin-right: 10px;
}

.moviecard-plot {
    text-align: justify;
    text-overflow: ellipsis;
    overflow-wrap: break-word;
    margin-bottom: 150px;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
}
.center {
    display: flex;
    justify-content: center;
    padding: 10px;
}

.moviecard-buttons {
    display: inline-flex;
    justify-content: space-around;
    position: absolute;
    margin-top: 300px;
}

.search-bar {
    width: 100%;
    max-width: 700px;
    background: rgba(255, 255, 255, 0.2);
    display: flex;
    align-items: center;
    border-radius: 60px;
    padding: 1px 2px;
}

.search-bar input {
    background: transparent;
    flex: 1;
    border: 0;
    outline: 0;
    padding: 0px 0px;
    padding-left: 25px;
    font-size: 14px;
    color: #cac7ff;
}

::placeholder {
    color: #cac7ff; 
}

.searh-bar button img {
    width: 25px;
}

.search-bar button {
    border: 0;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    background: #58629b;
    cursor: pointer;
}