@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap');

html {
    position: relative;
    min-height: 100%;
}

.footer {
    position: fixed;
    bottom: 0;
}

body {
    background: linear-gradient(to right, #434343 0%, black 160%);
    font-family: "Poppins", sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin-bottom: 60px;
}

.moviecard {
    width: 650px;
    height: 350px;
    display: flex;
    overflow: hidden;
    border-radius: 10px;
    background: rgba(0,0,0,0.50);
    box-shadow: -5px 5px 10px rgba(0,0,0,0.7), 5px 5px 10px rgba(0,0,0,0.7);
}

.moviecard-poster {
    position: relative;
    width: 250px;
    overflow: hidden;
}

.moviecard-poster img {
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.moviecard-body {
    width: 400px;
    padding-top: 5px;
    padding-left: 12px;
    padding-right: 12px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    font-size: 12px;
    color: #bdb8b8;
}

.moviecard-title {
    color: #e8e8e8;
    font-size: 22px;
}

.moviecard-info {
    margin-top: -20px;
}

.moviecard-body p span {
    margin-right: 10px;
}

.moviecard-plot {
    text-align: justify;
    text-overflow: ellipsis;
    overflow-wrap: break-word;
    margin-bottom: 150px;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
}
.center {
    display: flex;
    justify-content: center;
    padding: 10px;
}

.moviecard-buttons {
    display: inline-flex;
    justify-content: space-around;
    position: absolute;
    margin-top: 300px;
}