@page
@model IndexModel
@{
    ViewData["Title"] = "The Watchlist";
}
<script src="https://kit.fontawesome.com/8cafc277ac.js" crossorigin="anonymous"></script>

<div class=d-inline-block>
    <h1>The Watchlist</h1>
</div>



