@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1 class="text-light">@ViewData["Title"]</h1>

<p class="text-light">This page is running on your local server, security should not be an issue.</p>
